국어, 영어, 수학 점수를 입력하고 합계와 평균을 출력해 보자.

In [48]:
kor = int(input('국어 점수 : '))
eng = int(input('영어 점수 : '))
mat = int(input('수학 점수 : '))

total = kor + eng + mat
print('국어 점수 {}'.format(kor))
print('영어 점수 {}'.format(eng))
print('수학 점수 {}'.format(mat))
print('합계 : {}'.format(total))
print('평균 : {}'.format(total / 3))
print('평균 %.2f' % (total / 3))

국어 점수 : 85
영어 점수 : 90
수학 점수 : 85
국어 점수 85
영어 점수 90
수학 점수 85
합계 : 260
평균 : 86.66666666666667
평균 86.67

- 학급 전체 학생 수 입력
- 한 모둠에 속하는 학생 수 입력
- 전체 모둠 수 출력

In [49]:
allStuCnt = int(input('전체 학생 수 : '))
stuCntGroup = int(input('한 모둠 학생 수 : '))
groupCnt = allStuCnt / stuCntGroup

print('전체 학생 수 : {}'.format(allStuCnt))
print('한 모둠 학생 수 : {}'.format(stuCntGroup))
print('모둠 수 : {}'.format(groupCnt))
print('모둠 수 : {}'.format(int(groupCnt)))

전체 학생 수 : 25
한 모둠 학생 수 : 4
전체 학생 수 : 25
한 모둠 학생 수 : 4
모둠 수 : 6.25
모둠 수 : 6