1부터 100까지의 정수 중 2의 배수와 3의 배수를 구분해서 출력하자. (단, while문을 이용하자.)

In [17]:
n = 1
while n <= 101:
  if n % 2 == 0:
    print('{}은 2의 배수이다.'.format(n))
  elif n % 3 == 0:
    print('{}은 3의 배수이다.'.format(n))

  n += 1

2은 2의 배수이다.
3은 3의 배수이다.
4은 2의 배수이다.
6은 2의 배수이다.
8은 2의 배수이다.
9은 3의 배수이다.
10은 2의 배수이다.
12은 2의 배수이다.
14은 2의 배수이다.
15은 3의 배수이다.
16은 2의 배수이다.
18은 2의 배수이다.
20은 2의 배수이다.
21은 3의 배수이다.
22은 2의 배수이다.
24은 2의 배수이다.
26은 2의 배수이다.
27은 3의 배수이다.
28은 2의 배수이다.
30은 2의 배수이다.
32은 2의 배수이다.
33은 3의 배수이다.
34은 2의 배수이다.
36은 2의 배수이다.
38은 2의 배수이다.
39은 3의 배수이다.
40은 2의 배수이다.
42은 2의 배수이다.
44은 2의 배수이다.
45은 3의 배수이다.
46은 2의 배수이다.
48은 2의 배수이다.
50은 2의 배수이다.
51은 3의 배수이다.
52은 2의 배수이다.
54은 2의 배수이다.
56은 2의 배수이다.
57은 3의 배수이다.
58은 2의 배수이다.
60은 2의 배수이다.
62은 2의 배수이다.
63은 3의 배수이다.
64은 2의 배수이다.
66은 2의 배수이다.
68은 2의 배수이다.
69은 3의 배수이다.
70은 2의 배수이다.
72은 2의 배수이다.
74은 2의 배수이다.
75은 3의 배수이다.
76은 2의 배수이다.
78은 2의 배수이다.
80은 2의 배수이다.
81은 3의 배수이다.
82은 2의 배수이다.
84은 2의 배수이다.
86은 2의 배수이다.
87은 3의 배수이다.
88은 2의 배수이다.
90은 2의 배수이다.
92은 2의 배수이다.
93은 3의 배수이다.
94은 2의 배수이다.
96은 2의 배수이다.
98은 2의 배수이다.
99은 3의 배수이다.
100은 2의 배수이다.

while문을 이용해서 사용자가 입력한 구구단을 출력하자.

In [18]:
gugudanNum = int(input('희망 구구단 입력 : '))

n = 1
while n < 10:
  result = gugudanNum * n
  print('{} * {} = {}'.format(gugudanNum, n, result))
  n += 1

희망 구구단 입력 : 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36