'*'를 이용해서 다음과 같이 다양한 모양을 출력해보자.

In [21]:
for i in range(1, 6):
  for j in range(i):
    print('*', end = '')
  print()

*
**
***
****
*****

In [22]:
for i in range(1, 6):
  for j in range(6 - i - 1):
    print(' ', end = '')
  for k in range(i):
    print('*', end = '')
  print()

    *
   **
  ***
 ****
*****

In [23]:
for i in range(5, 0, -1):
  for j in range(i):
    print('*', end = '')
  print()

*****
****
***
**
*

In [24]:
for i in range(5, 0, -1):
  for j in range(5 - i):
    print(' ', end = '')
  for k in range(i):
    print('*', end = '')
  print()

*****
 ****
  ***
   **
    *

In [26]:
for i in range(1, 10):
  if i < 5:
    for j in range(i):
      print('*', end = '')
  else:
    for j in range(10 - i):
      print('*', end = '')
  print()

*
**
***
****
*****
****
***
**
*

In [27]:
for i in range(1, 6):
  for j in range(1, 6):
    if j == i:
      print('*', end = '')
    else:
      print(' ', end = '')
  print()

*
 *
  *
   *
    *

In [28]:
for i in range(1, 6):
  for j in range(1, 6):
    if abs(6 - j) == i:
      print('*', end = '')
    else:
      print(' ', end = '')
  print()

    *
   *
  *
 *
*

In [34]:
for i in range(1, 6):
  for j in range(5 - i):
    print(' ', end = '')
  for k in range(i * 2 -1):
    print('*', end = '')
  print()

for l in range(1, 6):
  for m in range(l - 1):
    print(' ', end = '')
  for n in range(11 - (l * 2)):
    print('*', end = '')
  print()

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *