다음과 같이 구구단 출력 함수가 연쇄적으로 호출되도록 함수를 선언해보자.

In [3]:
def guguDan2():
  for i in range(1, 10):
    print('2 * {} = {}'.format(i, 2 * i))

  guguDan3()

def guguDan3():
  for i in range(1, 10):
    print('3 * {} = {}'.format(i, 3 * i))

  guguDan4()

def guguDan4():
  for i in range(1, 10):
    print('4 * {} = {}'.format(i, 4 * i))

  guguDan5()

def guguDan5():
  for i in range(1, 10):
    print('5 * {} = {}'.format(i, 5 * i))

guguDan2()

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45