random 모듈을 이용해서 1부터 10까지의 정수 중 난수 1개를 발생시켜 보자.

In [10]:
import random

rNum = random.randint(1, 11)
print(f'rNum : {rNum}')

rNum : 10

random 모듈을 이용해서 0부터 100 사이의 난수 10개를 발생시켜 보자.

In [11]:
import random

rNums = random.sample(range(1, 101), 10)
print(f'rNums : {rNums}')

rNums : [68, 27, 31, 63, 57, 16, 19, 81, 40, 71]