# 01 변수와 자료형 기초

## 변수에 값 할당하기

In [1]:
# 변수에 정수 할당 (주석)
age = 25
# 변수에 문자열 할당
name = "John"
# 변수에 실수 할당
height = 5.9

# 변수 출력
print("Name:", name) # 튜플 형태의 출력 방식
print("Age:", age)
print("Height:", height)

Name: John
Age: 25
Height: 5.9

## 변수의 값 변경하기

In [2]:
# 변수 값 변경하기
age = 30
height = 6.2

# 변경된 값 출력
print("Updated Age:", age)
print("Updated Height:", height)

Updated Age: 30
Updated Height: 6.2

## 잘못된 변수명 사용해보기

In [3]:
1student_name = "Bob" # 숫자로 시작

SyntaxError: invalid syntax (1951911161.py, line 1)

In [4]:
student name = "Charlie" # 공백 포함

SyntaxError: invalid syntax (4059200048.py, line 1)

In [5]:
student-name = "Charlie" # 하이픈 포함

SyntaxError: cannot assign to operator (2368372608.py, line 1)

In [6]:
if = 3 # 예약어 사용

SyntaxError: invalid syntax (3105375244.py, line 1)

In [7]:
학생이름 = "김철수" # 한글 변수명 사용은 가능하나, 사용하지 않기를 권장함
print(학생이름)

김철수

## 다양한 자료형 생성해보고 종류 확인하기

In [8]:
# 정수
num =10
# 실수
pi = 3.14
# 문자열
greeting = "Hello, World!"
# 불린
is_active = True
# 리스트
fruits = ["apple", "banana", "cherry"]
# 튜플
coordinates = (10, 20)
# 집합
unique_numbers = {1, 2, 3}
# 사전
person = {"name": "Alice", "age": 25}

In [9]:
# type 함수로 자료형 확인
print("Type of num:", type(num))
print("Type of pi:", type(pi))
print("Type of greeting:", type(greeting))
print("Type of is_active:", type(is_active))
print("Type of fruits:", type(fruits))
print("Type of coordinates:", type(coordinates))
print("Type of unique_numbers:", type(unique_numbers))
print("Type of person:", type(person))

Type of num: <class 'int'>
Type of pi: <class 'float'>
Type of greeting: <class 'str'>
Type of is_active: <class 'bool'>
Type of fruits: <class 'list'>
Type of coordinates: <class 'tuple'>
Type of unique_numbers: <class 'set'>
Type of person: <class 'dict'>

# 02 파이썬 기본 자료형

## int와 float 자료형 생성하기

In [10]:
v1 = 2
v2 = 2.0

print(type(v1), type(v2))

<class 'int'> <class 'float'>

## str 자료형 생성하기

In [11]:
s1 = 'abc'
s2 = "abc"

print(s1, s2)

abc abc

In [12]:
print(type(s1), type(s2))

<class 'str'> <class 'str'>

In [13]:
s1 = 'abc"

SyntaxError: EOL while scanning string literal (3509654837.py, line 1)

In [14]:
s2 = "abc'

SyntaxError: EOL while scanning string literal (3389912360.py, line 1)

In [18]:
s = "나는 '파이썬'을 처음 배웁니다!"
s

"나는 '파이썬'을 처음 배웁니다!"

## 이스케이프 문자 이용하기

In [20]:
s = '제로베이스에서\n파이선 제대로 배우기'
print(s)

제로베이스에서
파이선 제대로 배우기

In [21]:
s # 주피터 노트북 팁! 주피터 노트북에서 셀을 실행할 때, 해당 셀의 마지막 표현식의 평가 결과가 원본 그 자체로 출력됩니다.

'제로베이스에서\n파이선 제대로 배우기'

## list와 tuple 자료형 생성하기

In [22]:
L = [1, 2, 3, 4]
T = (1, 2, 3, 4)
print(L, T)
print(type(L), type(T))

[1, 2, 3, 4] (1, 2, 3, 4)
<class 'list'> <class 'tuple'>

## set 자료형 생성하기

In [24]:
S = {1, 2, 3, 3}
print(S)

{1, 2, 3}

In [25]:
S = {3, 2, 1}
print(S) # 출력 순서는 보장되지 않음

{1, 2, 3}

## dict 자료형 생성하기

In [26]:
d = {1:'a', 2:'b', 3:'c'}
print(d, type(d))

{1: 'a', 2: 'b', 3: 'c'} <class 'dict'>

In [27]:
print(d[1])

a

In [28]:
d[1] = 'x' # 키는 중복되지 않음
print(d)

{1: 'x', 2: 'b', 3: 'c'}

## bool 자료형 생성하기

In [29]:
a = False
b = True
print(a, b)
print(type(a), type(b))

False True
<class 'bool'> <class 'bool'>

# 03. 인덱싱과 슬라이싱

## 순서가 있는 자료형과 순서가 없는 자료형

In [30]:
x = [1, 2, 3]
print(x[0])

1

In [31]:
x = '123'
print(x[0])

1

In [32]:
x = {1, 2, 3}
print(x[0])

TypeError: 'set' object is not subscriptable

In [33]:
x = {1:'a', 2:'b'}
print(x[0])

KeyError: 0

## 리스트에서 인덱싱 연습
- 아래 리스트에서 세번째 요소를 출력하세요.
- 마지막 요소를 출력하세요.
- 첫 번재 요소를 100으로 변경하고 리스트를 출력하세요.
- my_list = [10, 20, 30, 40, 50]

In [35]:
my_list = [10, 20, 30, 40, 50]
print(my_list[2])
print(my_list[-1], my_list[4])
my_list[0] = 100
print(my_list)

30
50 50
[100, 20, 30, 40, 50]

In [36]:
my_tuple = (10, 20, 30, 40, 50)
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment

## 리스트에서 슬라이싱 연습
- 아래 리스트에서 첫 3개의 요소를 슬라이싱하세요.
- 리스트의 마지막 두 요소를 슬라이싱하세요.
- 리스트를 거꾸로 슬라이싱하여 출력하세요.
- my_list = [1, 2, 3, 4, 5, 6, 7, 8]

In [37]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
print(my_list[:3])
print(my_list[-2:])
print(my_list[::-1]) # 값을 역정렬할 때 사용하는 테크닉

[1, 2, 3]
[7, 8]
[8, 7, 6, 5, 4, 3, 2, 1]

## 문자열에서 인덱싱과 슬라이싱 연습
- 아래 문자열에서 첫 번째 문자를 출력하세요.
- 문자열의 마지막 문자를 출력하세요.
- 문자열의 첫 5문자를 슬라이싱하여 출력하세요.
- 문자열의 홀수 번째 문자만 슬라이싱하여 출력하세요.
- my_string = "PythonProgramming"

In [38]:
my_string = "PythonProgramming"
print(my_string[0])
print(my_string[-1])
print(my_string[:5])
print(my_string[::2])

P
g
Pytho
PtoPormig

## 리스트와 문자열 혼합 실습
- 두 번째 요소를 출력하세요.
- 아래 리스트의 두 번째 요소에서 첫 번째 문자를 출력하세요.
- 두 번째 요소에서 마지막 두 문자를 슬라이싱 하세요.
- my_mixed_list = ["Apple", "Banana", "Cherry"]

In [40]:
my_mixed_list = ["Apple", "Banana", "Cherry"]
print(my_mixed_list[1])
print(my_mixed_list[1][0])
print(my_mixed_list[1][-2:])

Banana
B
na

## 인덱싱/슬라이싱으로 값 바꾸기
- 아래 리스트의 맨 뒤 두 개 값을 50과 60으로 바꾸세요
- my_list = [10, 20, 30, 40, 99, 99]

In [41]:
# 인덱싱 활용하기
my_list = [10, 20, 30, 40, 99, 99]
my_list[-2] = 50
my_list[-1] = 60
print(my_list)

[10, 20, 30, 40, 50, 60]

In [42]:
# 슬라이싱 활용하기 (1)
my_list = [10, 20, 30, 40, 99, 99]
my_list[-2:] = [50, 60] # [99,99] = [50,60]
print(my_list)

[10, 20, 30, 40, 50, 60]

In [43]:
# 슬라이싱 활용하기 (2)
my_list = [10, 20, 30, 40, 99, 99]
my_list=my_list[:4] + [50, 60] # 리스트 연산
print(my_list)

[10, 20, 30, 40, 50, 60]

# 04. 자료형과 메서드

## 공통 함수 실습

### len 함수

In [44]:
# 문자열과 리스트의 길이 계산
text = "Hello, World!"
numbers = [1, 2, 3, 4, 5]
print(len(text))
print(len(numbers))

13
5

### sum 함수

In [45]:
# 리스트와 튜플의 합계 계산
numbers = [10, 20, 30]
scores = (50, 60, 70)
print(sum(numbers))
print(sum(scores))

60
180

### min $ max 함수

In [46]:
# 리스트의 최소값과 최대값
temperatures = [23, 19, 25, 30, 21]
print(min(temperatures))
print(max(temperatures))

19
30

### sorted 함수

In [47]:
# 리스트 정렬 (오름차순과 내림차순)
numbers = [5, 3, 8, 1, 2]
print(sorted(numbers))
print(sorted(numbers, reverse = True))

[1, 2, 3, 5, 8]
[8, 5, 3, 2, 1]

## 문자열 메서드 실습

### upper & lower

In [48]:
# 대소문자 변환
text = "Python is Fun!"
print(text.upper())
print(text.lower())

PYTHON IS FUN!
python is fun!

### strip

In [49]:
# 문자열 공백 제거
text = "    hello    "
print(text.strip())
print(text.lstrip())
print(text.rstrip())

hello
hello
    hello

### replace

In [50]:
# 문자열 교체
text = "I like Python"
print(text.replace("Python", "programming"))

I like programming

### split & join

In [53]:
# 문자열 분리와 합치기
text = "apple,banana,cherry"
frutis = text.split(",")
print(fruits)
print(", ".join(fruits))

['apple', 'banana', 'cherry']
apple, banana, cherry

## 리스트 메서드 실습 예제

### append

In [54]:
# 리스트 끝에 요소 추가
frutis = ["apple", "banana"]
fruits.append("cherry")
print(fruits)

['apple', 'banana', 'cherry', 'cherry']

### insert

In [55]:
# 특정 위치에 요소 삽입
fruits = ["apple", "cherry"]
fruits.insert(1, "banana")
print(fruits)

['apple', 'banana', 'cherry']

### remove

In [56]:
# 특정 요소 삭제
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [57]:
fruits.remove('mango')

ValueError: list.remove(x): x not in list

In [59]:
# 특정 요소의 인덱스 찾기
fruits = ["apple", "banana", "cherry"]
print(fruits.index("banana"))
print(fruits.index("kiwi"))

1

ValueError: 'kiwi' is not in list

### count

In [60]:
# 특정 요소의 개수 확인
fruits = ["apple", "banana", "apple"]
print(fruits.count("apple"))

2

## 집합 메서드

### union

In [62]:
# 두 집합의 합집합
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))
# set2.union(set1)

{1, 2, 3, 4, 5}

### intersection

In [63]:
# 두 집합의 교집합
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.intersection(set2))

{3}

### difference

In [64]:
# 두 집합의 차집합
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.difference(set2))

{1, 2}

## 딕셔너리 메서드

### keys, values, items

In [65]:
# 딕셔너리의 키와 값
data = {"name": "Alice", "age": 25}
print(data.keys())
print(data.values())
print(data.items())

dict_keys(['name', 'age'])
dict_values(['Alice', 25])
dict_items([('name', 'Alice'), ('age', 25)])

# 05. 자료형 변환과 활용

## 숫자 변환 실습

In [66]:
print(int(3.9))
print(int("42"))
print(int("42.5"))

3
42

ValueError: invalid literal for int() with base 10: '42.5'

In [67]:
print(int(float("42.5")))

42

In [69]:
print(float(5))
print(float("3.14"))

5.0
3.14

In [70]:
float('abc')

ValueError: could not convert string to float: 'abc'

## 문자열 변환 실습

In [71]:
print(str(42))
print(str(3.14))
print(str([1, 2, 3]))

42
3.14
[1, 2, 3]

## 리스트 변환 실습

In [72]:
print(list("hello"))
print(list((1, 2, 3)))

['h', 'e', 'l', 'l', 'o']
[1, 2, 3]

## 리스트 내 중복 제거 실습

In [73]:
L = [1, 2, 2, 3, 4, 4, 5]
print(L) # 원본
L = set(L)
print(L) # 집합으로 변환
L = list(L) # 리스트로 변환
L = sorted(L) # 정렬
print(L)

[1, 2, 2, 3, 4, 4, 5]
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

In [74]:
L = [1, 2, 2, 3, 4, 4, 5]
L = sorted(set(L))
print(L)

[1, 2, 3, 4, 5]